<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Krypton.Docking" version="70.22.11.312" targetFramework="net48" />
  <package id="Krypton.Navigator" version="70.22.11.312" targetFramework="net48" />
  <package id="Krypton.Ribbon" version="70.22.11.312" targetFramework="net48" />
  <package id="Krypton.Toolkit" version="70.22.11.312" targetFramework="net48" />
  <package id="Krypton.Workspace" version="70.22.11.312" targetFramework="net48" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net48" />
  <package id="LiveCharts.WinForms" version="0.9.7.1" targetFramework="net48" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net48" />
  <package id="MaterialSkin.2" version="2.3.1" targetFramework="net48" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1576.0" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Types" version="160.1000.6" targetFramework="net48" />
</packages>